*{
    border: 1px solid black;
}

header{
    background-color: #D33A2C;
    height: 180px;
}

.header-center-5{
    margin: 0 auto;
    width: 80%;
}
.header-center-5 div{
    width: 20%;
}

.header-left-right{
    background-color: blue;
    width: 100px;
}