* {
  border: 1px solid black;
}

.gray-level-0{
    background-color: rgb(168, 168, 168);
}

.gray-level-1{
    background-color: rgb(146, 146, 146);
}

.gray-level-2{
   background-color:rgb(129, 128, 128);
}

.gray-level-3{
 background-color: rgb(117, 115, 115);
}

.gray-level-4{
    background-color: rgb(97, 97, 97);
}

.gray-level-5{
    background-color: rgb(61, 61, 61);
}

.gray-level-6{
    background-color: rgb(34, 34, 34);
}

.text-color-white{
    color: white;
}

header {
  height: 180px;
  text-decoration: none;
}

header a {
}

.header-center-5 {
  margin: 0 auto;
  width: 80%;
}
.header-center-5 div {
  display: flex;
  width: 20%;
  justify-content: center;
  margin: auto 0;
}

.header-left-right {
  margin: auto 0;
  width: 10%;
}

/* MAIN SECTION*/
.middle-div {
  position: absolute;
  left: 32%;
  top: 30%;
  font-size: 2rem;
  color: #fff;
  background-color: rgb(240, 239, 239);
}

.main-divs {
  width: 50%;
  height: 50vh;
  float: left;
  color: white;
  text-align: center;
  padding-top: 10%;
}

/* ARTICLES */
.article-container {
    background-color: gray;
  text-align: center;
  display: flex;
  clear: both;
}

.article-divs {
  width: 33%;
  height: 300px;
  color: #fff;
}

.img-box {
  width: 33%;
  height: 300px;
  background-color: black;
  border: 1px solid white;
}

/* SMASHING TV SECTION*/
.smashing-tv {
  width: 90%;
  height: 500px;
  margin: 0 auto;
  background-color: rgb(27, 27, 27);
  color: white;
  text-align: center;
  padding-top: 6rem;
}

.smashing-tv h1,
.smashing-tv p {
  margin-bottom: 6rem;
}

.see-all-latest-articles {
  color: black;
  background-color: rgb(243, 243, 243);
  height: 200px;
  justify-content: center;
  align-items: center;
}

.inclusive-components {
  text-align: center;
  color: white;
  background-color: rgb(27, 27, 27);
  height: 700px;
}

.inclusive-components a {
  border-radius: 5px;
  padding: 10px 5px;
  background-color: rgb(243, 243, 243);
}

.person-of-the-week {
  background-color: lightgray;
}

.empty-icon {
  margin: 50px auto;
  width: 256px;
  height: 370px;
  background-color: rgb(7, 7, 7);
}

.person-container {
  display: flex;
}

.empty-icon-2 {
  height: 300px;
  width: 300px;
  background-color: rgb(7, 7, 7);
}

.person-text {
  height: 300px;
  width: 80%;
  flex-direction: column;
  justify-content: space-evenly;
}

.other-persons-container {
  display: flex;
  justify-content: space-between;
  margin: 2rem;
}

.empty-icon-3 {
  width: 80px;
  height: 80px;
  background-color: black;
  float: left;
}

.other-persons {
  width: 660px;
  background-color: lightgray;
}

.more-links {
  text-align: center;
}

.more-links a {
  color: black;
}

.design-systems-section {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.design-systems {
  text-align: center;
}

.empty-icon-4 {
  background-color: black;
  width: 300px;
  height: 300px;
}

.guides-div {
  display: inline-block;
  width: 33%;
  height: 500px;
}

.empty-icon-5 {
  float: right;
  width: 60%;
  height: 500px;
  background-color: black;
  color: white;
}

footer {
  text-align: center;
}

.footer-top {
  padding: 2rem;
}

.footer-top p {
  margin: 6rem;
}

.footer-bottom {
  display: flex;
  align-items: center;
}

.empty-icon-6 {
  background-color: black;
  width: 30%;
  height: 300px;
}